:root {
    --clr-primary: #66BFBF;
    --clr-primary-bright: #11999E;
}

body {
    color: #40514E;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 0.9rem;
}

.top-container {
    max-width: 1440px;
    margin: auto;

    -webkit-box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.75);
}

.top-section {
    background-color: #E4F9F5;
    position: relative;
}

.title-text {
    position: relative;
    z-index: 1;
}

.title-text h1 {
    color: var(--clr-primary);
    font-size: clamp(2rem, 15vw, 5.5rem);
    font-family: 'Sacramento', cursive;
    text-align: center;
    padding-top: 7rem;
    font-weight: bold;
}

.title-text h2 {
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.top-cloud {
    position: absolute;
    right: 15%;
    top: 5%;
    width: 5rem;
    width: clamp(6rem, 20vw, 15rem);
}

h2 {
    color: var(--clr-primary);
    font-size: clamp(1rem, 6vw, 3rem);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    top: 45%;
    left: 5%;
    width: clamp(5rem, 20vw, 10rem);
}

.land-pic {
    display: block;
    margin: auto;
}

.bottom-container {
    margin: 3rem auto 0;
}

.profile {
    text-align: center;
}

.profile-pic {
    max-width: 13rem;
    margin: 0 auto 2rem;
}

.intro {
    padding: 0 2rem;
    max-width: 30rem;
    margin: auto;
    line-height: 1.8;
}

hr {
    border: 6px dotted #bbd6d6;
    border-bottom: none;
    width: 4%;
    margin: 4rem auto;
}

.skill-row {
    display: -ms-grid;
    display: grid;
    grid-template-areas: 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
    margin: 0 auto 2rem;
}

.skill-row__img-container {
    max-width: clamp(6rem, 30vw, 10rem);
    margin: auto;
}

.skill-row-info {
    display: block;
    margin: auto;
    text-align: center;
    padding: 0 1rem;
    max-width: 30rem;
}

h3 {
    color: var(--clr-primary-bright);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.contact-me {
    text-align: center;
    margin: auto;
    padding: 0 1rem 2rem;
    max-width: 30rem;
}

.btn {
    background: #11cdd4;
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#11cdd4), to(#11999e));
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: inherit;
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    margin: 1rem;


    -webkit-box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.43);
}

.btn:hover {
    background: #30e3cb;
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#30e3cb), to(#2bc4ad));
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

footer {
    background-color: var(--clr-primary-bright);
    padding: 2rem 0;
    text-align: center;
}

.social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.social-icons a {
    text-decoration: none;
    color: white;
    font-size: 1rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.social-icons a i {
    height: 2rem;
    width: 2rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-icons a:hover,
.social-icons a:focus,
.social-icons a:hover>i,
.social-icons a:focus>i {
    border-color: var(--clr-primary-);
    color: var(--clr-primary);
    outline: none;
}

.copyright {
    font-size: 0.7rem;
    color: rgb(212, 212, 212);
}

@media (min-width: 40rem) {
    .skill-row {
        grid-template-areas: "left right";
        gap: 0;
        max-width: 45rem;
    }

    .skill-row-bottom .skill-row__img-container {
        grid-area: right;
    }

    .skill-row-info {
        text-align: left;
    }
}

@media (min-width: 40rem) {
    .skill-row-bottom .skill-row__img-container {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}

@media (min-width: 40rem) {
    .skill-row-bottom .skill-row__img-container {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
}
